#my_video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translate(-50%, -50%);
  }

  html {
    align-items: center;
    background-color: #f7eee4;
    color: #c5c8c6;
    display: flex;
    font: 12px/1 "Inconsolata", monospace;
    height: 100%;
    justify-content: center;
  }

  body {
    background: #1d1f21;
    border-radius: 2px;
    box-shadow: 1px 1px 6px #1d1f2187;
    color: #c5c8c6;
    display: flex;
    flex-direction: column;
    min-height: 30ch;
    min-width: 50vw;
    padding: 2em;
  }

  p {
    margin: 0;
  }

  p span {
    color: #b5bd68;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  a:focus,
  a:hover {
    font-weight: bold;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav {
    column-gap: 2em;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 1em 0;
  }

  ul:nth-child(5n + 1) li:first-child {
    color: #5050f2;
  }

  ul:nth-child(5n + 2) li:first-child {
    color: #5050f2;
  }
  
  ul:nth-child(5n + 3) li:first-child {
    color: #5050f2;
  }
  
  ul:nth-child(5n + 4) li:first-child {
    color: #5050f2;
  }

  ul:nth-child(5n + 5) li:first-child {
    color: #5050f2;
  }

  li:first-child {
    font-weight: bold;
  }

  li:last-child {
    margin: 0 0 1em;
  }

  p #cursor {
    background-color: #b5bd68;
    animation: blink 2s infinite;
  }

  @keyframes blink {
    0%, 49% { opacity: 0; }
    50% { opacity: 1; }
  }

  body {
    background: #141414;
  }

  ::selection {
  background-color: #fff;
  color: #000;
  }
