/************** GLOBAL STYLES **************/

:root {
    --main: #0d1a26;
    --orange: hsl(31, 77%, 60%);
    --red: hsl(4, 100%, 74%);
    --green: hsl(118, 18%, 66%);
    --blue: hsl(235, 17%, 63%);
    --white: hsl(0, 0%, 100%);
  
    /**
     * Modular scale
     * Applied as font-size
     */
    --scale-000: 0.75rem; /* 12px */
    --scale-00: 0.875rem; /* 14px */
    --scale-0: 1rem; /* 16px */
    --scale-1: 1.125rem; /* 18px */
    --scale-2: 1.25rem; /* 20px */
    --scale-3: 1.5rem; /* 24px */
    --scale-4: 1.875rem; /* 30px */
    --scale-5: 2.25rem; /* 36px */
    --scale-6: 3rem; /* 48px */
    --scale-7: 4rem; /* 64px */
    --scale-8: 4.5rem; /* 72px */
    --scale-9: 5.5rem; /* 96px */
    --scale-10: 9rem; /* 144px */
  
    /**
     * Fonts
     * Applied as font-family
     */
    --font-family-sans: system-ui;
    --font-family-serif: georgia, cambria, 'Times New Roman', times, serif;
  
    /* --font-family-mono: consolas, menlo, monaco, 'Liberation Mono', monospace; */
  
    /**
     * Weights
     * Applied as font-weight
     */
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-black: 900;
  
    /**
     * Leading
     * Applied as line-height
     */
    --leading-none: 1;
    --leading-xsmall: 1.125;
    --leading-small: 1.275;
    --leading-normal: 1.5;
    --leading-large: 1.625;
    --leading-xlarge: 2;
  
    /**
     * Tracking
     * Applied as letter-spacing
     */
    --tracking-000: -0.05em;
    --tracking-00: -0.025em;
    --tracking-0: 0;
    --tracking-1: 0.025em;
    --tracking-2: 0.05em;
    --tracking-3: 0.1em;
    --tracking-4: 0.25em;
    --tracking-5: 0.5em;
  
    /**
     * Measures
     * Applied as max-width
     * Results in ~45/~66/~80 character measures
     */
    --measure-narrow: 20em;
    --measure-normal: 30em;
    --measure-wide: 34em;
  
    /**
     * Size scale
     * Applied to sizing property
     * Eg: margin, padding, height
     */
    --spacing-000: 8px;
    --spacing-00: 12px;
    --spacing-0: 16px;
    --spacing-1: 20px;
    --spacing-2: 32px;
    --spacing-3: 48px;
    --spacing-4: 64px;
    --spacing-5: 96px;
    --spacing-6: 128px;
    --spacing-7: 160px;
    --spacing-8: 192px;
    --spacing-9: 224px;
    --spacing-10: 256px;
    --spacing-11: 512px;
    --spacing-12: 768px;
  
    /**
      * Widths
      * Applied as max-width
      */
    --width-000: 120px;
    --width-00: 180px;
    --width-0: 250px;
    --width-1: 320px;
    --width-2: 396px;
    --width-3: 448px;
    --width-4: 512px;
    --width-5: 576px;
    --width-6: 672px;
    --width-7: 768px;
    --width-8: 896px;
    --width-9: 1024px;
    --width-10: 1152px;
    --width-11: 1280px;
    --width-12: 1440px;
  
    /**
      * Grid gaps
      * Applied as padding (flex grid) or grid-gap (CSS Grid)
      */
    --gap-00: 12px;
    --gap-0: 16px;
    --gap-1: 24px;
    --gap-2: 36px;
    --gap-3: 48px;
    --gap-4: 64px;
    --gap-5: 96px;
    --gap-6: 128px;
  
    /**
      * Grid gap offsets
      * Applied as negative margin in flex grids
      */
    --gap-offset-00: calc(0px - var(--gap-00));
    --gap-offset-0: calc(0px - var(--gap-0));
    --gap-offset-1: calc(0px - var(--gap-1));
    --gap-offset-2: calc(0px - var(--gap-2));
    --gap-offset-3: calc(0px - var(--gap-3));
    --gap-offset-4: calc(0px - var(--gap-4));
    --gap-offset-5: calc(0px - var(--gap-5));
    --gap-offset-6: calc(0px - var(--gap-6));
  }


/************** Background **************/
html {
    align-items: center;
    /*background-color: #f7eee4;*/
    background-color: var(--main); /*#1d1f21*/
    color: #c5c8c6;
    display: flex;
    font: 12px/1 "Inconsolata", monospace;
    height: 100%;
    min-width: 1200px;
    justify-content: center;
}


/************** Grid **************/
.container {
    display: grid;
    grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
    gap: 15px 15px;
    grid-auto-flow: row dense;
}

[id^='box']  {
    background: var(--main);
    text-align:center;
    height: var(--width-1);
    width: var(--width-1);
    border-radius: 25px;
    /*box-shadow: 10px 10px 6px #1d1f2187;*/
    border-style: solid;
    border-color: whitesmoke;
    border-width: 2.5px;
    zoom: 50%;
    opacity: 0.95;
    grid-column: auto / span 1;
    grid-row: auto / span 1;
}

    
[id^='long-box']  {
    background: var(--main);
    text-align:center;
    height: var(--width-1);
    width: 700px;
    border-radius: 25px;
    /*box-shadow: 10px 10px 6px #1d1f2187;*/
    border-style: solid;
    border-color: whitesmoke;
    border-width: 2.5px;
    zoom: 50%;
    opacity: 1;
    grid-column: auto / span 2;
    grid-row: auto / span 1;
}

[id^='square-box']  {
    background: var(--main);
    text-align:center;
    height: 700px;
    width: 1100px;
    border-radius: 25px;
    /*box-shadow: 10px 10px 6px #1d1f2187;*/
    border-style: solid;
    border-color: whitesmoke;
    border-width: 2.5px;
    zoom: 50%;
    opacity: 0.95;
    grid-column: auto / span 3;
    grid-row: auto / span 2;
}

a {
    color: inherit;
    text-decoration: none;
}

a:focus,
a:hover {
    font-weight: bold;
    color: whitesmoke;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav {
    column-gap: 2em;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 1em 0;
}

ul li:first-child {
    color: #5050f2;
    font-weight: bold;
    font-size: 35px;
    padding-bottom: 15px;
    padding-top: 25px;
    text-align: left;
    padding-left: 20px;
}

li:first-child::before {
    border-top: 0px solid whitesmoke;
}

li:first-child::after {
	height: 0px;
    border-left: 0px solid whitesmoke;
}

ul li {
    font-size: 25px;
    padding-bottom: 10px;
    text-align: left;
    padding-left: 70px;
}

li:last-child {
    margin: 0 0 1em;
}

li {
	position: relative;
}
li::before, li::after {
	content: "";
	position: absolute;
	left: 40px;
}
li::before {
	border-top: 2px solid whitesmoke;
	top: 0.45em;
	width: 0.8rem;
}
li::after {
	border-left: 2px solid whitesmoke;
	height: 100%;
	top: 0.2rem;
}
li:last-child::after {
	height: 0.3rem;
}


/************** Image box **************/

#box10 {
    border: 0;
}

#box11 {
    border: 0;
}

#box12 {
    border: 0;
}

#box13 {
    border: 0;
}

#box14 {
    border: 0;
}

#box15 {
    border: 0;
}

/************** UNSPLASH **************/

.image-container {
    position: relative;
    overflow: hidden;
    height: var(--width-1);
    width: var(--width-1);
    border-style: none; 
    border-width: 0px;
    border-radius: 25px;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
    -ms-animation: fadeIn ease 10s;
}


.image-container img {
    min-height: 100%;
    min-width: 100%;
    zoom:1%;
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

/************** Weather **************/

#box1 {
    border: 0;
}

#box1 .image-container {
    position: relative;
    overflow: hidden;
    height: var(--width-1);
    width: var(--width-1);
    border-style: none; 
    border-width: 0px;
    border-radius: 25px;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

#weather {
    position: absolute;
    background: #1d1f21;
    height: var(--width-0);
    width: var(--width-0);
    border-radius: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:rgba(0,0,0,0.5);
    border: 0;
}

#weather h1 {
    font-size: 65px;
    opacity: 1;
}

#weather h3 {
    font-size: 35px;
    opacity: 1;
}


/************** Search **************/

#search-input {
    width: 500px;
    color: var(--white);
    font-size: var(--scale-5);
    background-color: transparent;
    background-image: none;
    border: none;
    border-bottom: 1px solid var(--white);
    box-shadow: none;
    align-items: center;
}
  
.search textarea:focus,
  input:focus {
    outline: none;
}

.search button[engine='google'] {
    background: url(./img/google.svg);
    background-repeat: no-repeat;
    width: 125px;
    height: 125px;
    outline: inherit;
    cursor: pointer;
    border: none;
    margin: 50px;
}

.search button[engine='duckduckgo'] {
    background: url(./img/duck.svg);
    background-repeat: no-repeat;
    width: 125px;
    height: 125px;
    outline: inherit;
    cursor: pointer;
    border: none;
    margin: 50px;
}

.search button[engine='wolfram'] {
    background: url(./img/wolfram.svg);
    background-repeat: no-repeat;
    width: 125px;
    height: 125px;
    outline: inherit;
    cursor: pointer;
    border: none;
    margin: 50px;
}

.search button:enabled {
    opacity: 0.5;
}

/************** CLOCK **************/

#box16{
    border: 0;
}

.clock-container {
    background: var(--main);
    text-align:center;
    height: var(--width-1);
    width: var(--width-1);
    border-radius: 25px;
    /*box-shadow: 10px 10px 6px #1d1f2187;*/
    border: 0;
    background-color: #33cc33;
}
  
.time {
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    color: var(--main);
    /*text-shadow: -5px 0 white, 0 5px white, 5px 0 white, 0 -5px white;*/
    padding-top: 40%;
}


/************** TD **************/

#square-box1 {
    opacity: 1;
    /*background-color: aliceblue;*/
    background-color: var(--main);
}


/************** Search **************/

.video {
    background: var(--main);
    text-align:center;
    height: var(--width-1);
    width: 800px;
    border-radius: 25px;

    opacity: 1;
}

/******* IMPORTS *******/
/*
@import './clock/clock.css';
@import './search/search.css';
@import './binance/binance.css';
@import './openweather/openweather.css';
@import './unsplash/unsplash.css';
@import './stormglass/stormglass.css';
*/